.loader-container {
  position: relative;
  display: flex;
  align-items: center;
}


.loader-text {
  font-weight: 800;
  font-size: 1.6em;
  color: whitesmoke;
  cursor: pointer;
  padding-top: 0.1em;
}
